html {
 /* background-color: #ececec; */
 font-family: "Montaga", serif;
 /* background-color: #f5f5f5; */
 /* background-color: rgb(200, 192, 252); */
}
body {
 display: flex;
 justify-content: center;
}

.list::-webkit-scrollbar {
 width: 1em;
}

.list::-webkit-scrollbar-track {
 box-shadow: inset 0 0 6px #f4f5f7;
 border-radius: 25px;
}

.list::-webkit-scrollbar-thumb {
 background-color: #f4f5f7;
 outline: 1px solid #f4f5f7;
 border-radius: 25px;
}
.container {
 width: 90vw;
 display: flex;
 flex-direction: column;
}
header {
 height: 10vh;
 width: 75vw;
 display: flex;
 align-items: center;
 /* justify-content: space-between; */
 font-size: large;
 font-style: italic;
}
header button {
 border: none;
 padding: 10px;
 cursor: pointer;
}
main {
 height: 90vh;
 display: flex;
 text-align: center;
}
.list-container {
 display: flex;
 justify-content: space-between;
 width: 75%;
 /* flex-direction: column; */
 text-align: center;
}
.list {
 min-height: 80vh;
 width: 31%;
 background-color: #f4f5f7;
 /* background-color: rgb(252, 0, 0); */
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 /* align-items: center; */
 overflow-y: auto;
 border-radius: 10px;
 padding: 10px;
 /* margin: 1%; */
}
.list h2 {
 color: #5e6c84;
}
.list .card {
 display: flex;
 /* border: 1px solid rgb(236, 233, 233); */
 background-color: rgb(255, 255, 255);
 width: 90%;
 flex-direction: column;
 text-align: left;
 box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
  rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
  rgba(223, 202, 202, 0.05) 0px 0px 0px 1px inset;
 margin-bottom: 5%;
 padding: 2px;
 border-radius: 10px;
}
.list .card * {
 margin: 3%;
 /* font-weight: 200; */
 line-height: 50%;
}
.button-container {
 /* width: 100%;
 display: flex;
 justify-content: flex-end; */
 position: relative;
}
.button-container button {
 border: none;
 background-color: transparent;
 color: rgba(192, 190, 190, 0.89);
 position: absolute;
 right: 0;
 top: 0;
 cursor: pointer;
}

.newBookForm {
 /* display: flex;
 flex-direction: column;
 justify-content: flex-start; */
 width: 20%;
 padding: 0 30px;
 align-items: center;
}
.newBookForm img {
 margin: 3%;
}
.newBookForm form {
 display: flex;
 flex-direction: column;
}
.newBookForm input {
 margin-top: 4%;
 padding: 20px;
 outline: none;
 border: none;
}
.newBookForm select {
 padding: 15px;
 outline: none;
 border: none;
 cursor: pointer;
 color: #5e6c84;

 appearance: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 text-align: left;
 background-color: #ffffff9c;
 width: 70%;
}
.newBookForm button {
 border: none;
 padding: 15px;
 cursor: pointer;
 background-color: #000000a2;
 color: white;
 transition: 0.2s all;
}
.newBookForm button:hover {
 box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
  rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
  rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
@media (max-width: 800px) {
 .container {
  width: 100vw;
 }
 header {
  justify-content: center;
  width: 100vw;
 }
 main {
  flex-direction: column;
  width: 100vw;
 }
 .list-container {
  order: 1;
 }
 .list-container {
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
 }
 .newBookForm {
  width: 100%;
  margin-bottom: 6%;
 }
 .list {
  width: 90%;
  margin: 3%;
 }
}
#willRead,
#isReading,
#haveRead {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.card select {
 padding: 4px 14px;
 outline: none;
 border: none;
 width: 55%;
 /* margin-top: 4%; */
 line-height: 150% !important;
 cursor: pointer;
 color: #ffffff;
 appearance: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 background-color: #6376ca9c;
 margin: 5% !important;
 /* background-color: white; */
}
.signOutBtn {
 border: none;
 /* padding: 10px; */
 cursor: pointer;
 /* width: 100%; */
 background-color: #ffffff;
}
.info {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 padding: 2px 17px 2px 0;
 width: 250px;
 font-style: normal;
 background-color: #ffffff;
 border-radius: 10px;
 height: 60%;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#info *:not(img) {
 width: 28%;
}
#info * {
 margin: 2%;
}
